/* blog.css */

body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'poppins', sans-serif;
    background-color: #f4f4f4;
    overflow-x: hidden;
}

.container {
    margin: 50px auto;
    display: flex;
    gap: 20px;
    justify-content: space-between;
}

/* Header Styles */
header {
    background-color: #00274E;
    color: white;
    padding: 15px;
    box-sizing: border-box;
}

.logo {
    display: flex;
    align-items: center;
}

.logo details {
    margin-right: 10px;
}

.logo img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.logo a {
    color: white;
    text-decoration: none;
}

/* Sidebar Styles */
.sidebar {
    /* background-color: #921111; */
    box-shadow: 10px 10px 10px -5px rgba(92, 92, 92, 0.1);
    color: #00274E;
    width: 200px;
    margin: 20px;
    box-sizing: border-box;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar li {
    margin: 60px 0;
}

.sidebar img {
    width: 20px;
    margin-right: 10px;
}

.sidebar a {
    color: #00274E;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
}
.sidebar a:hover{
    color: #55C4A1;
    transform: scale(1.03);
    cursor: pointer;
}

.content {
    flex-grow: 1;
    padding: 20px;
    box-sizing: border-box;
}

.content-header {
    margin-bottom: 20px;
}

.content-header h1 {
    color: #00274E;
}

.blog-table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

.blog-table th,
.blog-table td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
    /* white-space: nowrap; */
}

.header-1 {
    background-color: #00274E;
    color: white;
}

.addBlog-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0px;
}
.see-more-btn {
    justify-self:right;
    background-color:#55C4A1;
    color:#ffffff;
    padding: 10px 40px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.see-more-btn a{
    text-decoration: none;
    color:#f2f5f8;
    font-size: 24px;
    font-weight: 600;
}
.see-more-btn a:hover{
    color: white;
}

.see-more-btn:hover {
    background-color: #004080;
    color: white;
}
.message-title{
    max-width: 150px;
}
.message-description{
    max-width: 300px;
}


.message-image {
    width: 140px;
    height: 70px;
    border-radius: 15px;
    object-fit: cover;
}

.message-action {
    display: flex;
    gap: 10px;
    align-items: center;
}

.edit-btn,
.delete-btn {
    background: none;
    border: none;
    cursor: pointer;
}

.edit-btn:hover,
.delete-btn:hover {
    transform: scale(1.04);
    rotate: 10deg;
}

  /*loader*/

  .loader {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 100px;
    height: 100px;
    z-index: 1000;
    transition: opacity 0.5s;
    overflow: hidden;
  }
  
  .loader:before,
  .loader:after {
    content: "";
    border-radius: 50%;
    position: absolute;
    inset: 0;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.3) inset;
  }
  .loader:after {
    box-shadow: 0 5px 0 #1f50b1 inset;
    animation: rotate 2s linear infinite;
  }
  
  @keyframes rotate {
    0% {
      transform: rotate(0);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  /*popup*/
  
  /* Your existing CSS code */
  .popup {
    position: relative;
    top: 20%;
    left: 80%;
    transform: translate(-50%, -50%);
    background-color: #02a772;
    color: #fff;
    padding: 20px;
    width: 100px;
    height: 60px;
    border: 1px solid #2f67af;
    z-index: 1000;
    transition: opacity 0.5s;
  }
  
  .hidden {
    opacity: 0;
    pointer-events: none;
  }


/*media*Querries*/
@media (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .sidebar .sidebar-menu ul {
        width: 70%;
        display: flex;
        gap: 20%;
        align-items: center;
        justify-content: space-between;
        font-weight: 600;
    }
    .sidebar .sidebar-menu ul li a img:hover, .sidebar .sidebar-menu ul li img:hover{
        transform: scale(1.03);
        rotate: 20deg;
        cursor: pointer;
        background-color: #55C4A1;
    }
    .content{
        width: 100%;
    }
    .sidebar a span{
        display: none;
    }
    .sidebar a img{
        margin-right: 0;
    }
    .blog-table {
        width: 100%;
        border-collapse: collapse;
        margin: 20px;
    }
    .message-image {
        width: 100px;
        height: 70px;
        border-radius: 10px;
        object-fit: cover;
    }
}

/* Styles for larger screens */
@media (min-width: 769px) {
    .message-image {
        /* Add your desired styling for larger screens */
        margin-top: 10px; /* Adjust as needed */
    }

    .message-title,
    .message-description {
        /* Add your desired styling for larger screens */
        margin-top: 10px; /* Adjust as needed */
    }

    /* Styles for table cells in larger screens */

    .blog-table {
        width: 100%;
        border-collapse: collapse;
        margin: 20px;
    }
    .blog-table th,
    .blog-table td {
        padding: 15px; /* Adjust as needed */
        border: 1px solid #ddd;
        text-align: left;
    }
}

