*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
    body {
        margin: 0;
        padding: 0;
        font-family: Arial, sans-serif;
        background-color: #f4f4f4;
        box-sizing: border-box;
        overflow-x: hidden;
    }

    /*header css*/

    header {
        background-color: #00274E;
        box-sizing: border-box;
        margin: 0;
        padding: 15px;
        width: 100%;
                /* width:auto;
        color: white;
        padding: 15px;
        box-sizing: border-box; */
    }
    
    nav {
        display: flex;
        width: 100%;
        justify-content: space-around;
        align-items: center;
    }
    
    .logo {
        display: flex;
        align-items: center;
    }
    
    .logo-letter h3 {
        margin: 0;
        background-color:aquamarine;
        color: white;
        border-radius: 50%;
        padding: 5px;
        text-decoration: none;
    }
    .logo-letter h3 a{
        text-decoration: none;
        color:#00274E;
        padding: 5px;
    
    }
    
    .logo-text {
        margin-left: 10px;
    }
    
    .menu {
        display: flex;
    }
    
    .menu ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
    }
    
    .menu li {
        margin-right: 20px;
    }
    
    .menu li a {
        color: white;
        text-decoration: none;
    }
    .menu li a:hover{
        color: aquamarine;
    }
    
    .logo-text a {
        text-decoration: none;
        color: white;
        background-color: transparent;
        border-radius: 0;
    }
    
    .signin a {
        color: white;
        text-decoration: none;
        border: none;
        border-radius: 0;
        padding: 8px 15px;
    }
    
    .hamburger-icon,
    .exit-icon {
        display: none;
        font-size: 24px;
        cursor: pointer;
        color: white;
    }
    /*sticky header*/
    header.sticky {
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 1000;
    }
    
    /* Add this style to adjust the content spacing when the header becomes sticky */
    .content {
        padding-top: 80px; /* Adjust this value based on the height of your header */
    }

    .signin summary {
        background-color: white;
        padding: 8px 15px;
        border-radius: 5px;
        cursor: pointer;
        /* Additional styling if needed */
    }
    
    .signin a {
        padding: 5px;
        text-decoration: none;
        color: #f1f3f6; /* or your preferred text color */
    }
    
    .signin a:hover {
        color: aquamarine; /* or your preferred hover color */
    }




    /* css for main, hero section*/
    
.hero{
    margin: 200px 0px;
    margin-bottom: 100px;
}
.hero div.home{
    padding: 10px 150px;
    width: 100%;
    justify-content: space-between;
    gap: 10%;
    display: flex;
    flex-wrap: wrap;
}
.text-button{
    width:750px;
    flex: 2;
}
.text-button .text-button-mini{
    font-size: 20px;
    font-weight: 600;
}
.text-button .text-button-sub{
    font-size: 40px;
    font-weight: 600;
}
.text-button .text-button-subb{
    color: #55C4A1;
    font-size: 24px;
    font-weight: 700;
    line-height: 24px;
}
.text-button p{
    color: #00274E;
    font-size: 20px;
    font-weight: 400;
    text-align:left;
}
.profile-img{
    width: 500px;
    flex: 1;
}
.profile-img img{
    width: 100%;
    height: 100%;
}
.contact-btn{
    border: none;
    font-size: 20px;
    font-weight: 400;
    text-decoration: none;
    background-color: #55C4A1;
    border-radius: 4px;
    padding: 10px 20px;
    margin-top: 70px;
}
.contact-btn:hover{
    transform: scale(1.03);
    rotate: 3deg;
}
.contact-btn a{
    text-decoration: none;
    border: none;
    color: black;
}

/* css for about section */

.about-me{
    padding: 100px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
}
.about-text{
    text-align: center;
    width: 70%;
    line-height: 24px;
    /* padding: 0px 200px; */
}
.about-text h3{
    font-size: 40px;
    font-weight: 600;
    color: #00274E;
    padding: 15px 0px;
}
.about-text p{
    color: #00274E;
    font-size: 16px;
    padding: 10px 0px;
}
.about-button a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    text-align: center;
}
.about-button:hover{
    transform: scale(1.03);
}
.about-button img{
    width: 20px;
    height: 20px;
    margin: 0px 10px;

}
.about-cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 20px;
    width: 100%;
    margin: 2%;
    justify-content: space-around;
    padding: 50px;
}
.about-cards [class^="about-card-"]{
    padding: 25px;
    width: 100%;
    border: 1px solid #55C4A1;
    border-radius: 10px;
}
.about-cards [class^="about-card-"]:hover {
    border: 2px dashed #5560c4; /* Change border style on hover */
    background-color: #55c4a13b; /* Add transparent background color on hover */
}

.about-card-1 h3, .about-card-2 h3{
    text-align: center;
    padding: 0px 10px;
    color: #00274E;
}
.about-card-1 p, .about-card-2 p{
    padding: 10px;
    color: black;
    font-size: 14px;
}
.about-card-1 p span{
    color:#00274E;
    font-weight: 600;
}
.education-details{
    padding-top: 15%;
}
.about-card-1 .title-education{
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-card-1 .title-education img{
    width: 40px;
    height: 30px;
}

.about-card-2 .title-certifications{
    display: flex;
    align-items: center;
    justify-content: center;
}
.about-card-2 .title-certifications img{
    width: 50px;
    height: 30px;
}
.about-card-2 .certifications{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(100px, auto);
    padding: 10px;
    grid-gap: 20px;
    justify-content: center;
}
.about-card-2{
    grid-column: 2/4;
}
.certifications ul{
    padding: 10px;
    align-items: center;
}
.certifications ul li{
    margin: 10px;
    padding-top: 5px;
    font-size: 13px;
    color: white;
}
.certifications h5{
    padding: 10px;
    color: white;
}
.certifications p{
    padding: 10px;
    color: white;
    font-size: 11px;
    letter-spacing: 1.15px;
}
.soft, .technical{
    background-color: #00274E;
    border-radius: 11px;
    /* width: 100%; */
}
.about-card-1 .about-skills{
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;
    width: 100%;
}
.about-card-1 .about-skills ul{
    padding: 15px;
    margin: 10px;
    text-align: center;
}
.about-card-1 ul.about-skills li{
    font-size: 15px;
    padding: 5px;
    margin: 10px;
}
.title-connect{
    display: flex;
    gap: 20px;
}
.about-card-socials{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.social-icons ul{
    display: flex;
    flex-wrap: nowrap;
    justify-items: center;
}
.social-icons ul li{
    list-style-type: none;
    padding: 10px;
}
.social-icons ul li a{
    text-decoration: none;
}
.social-icons ul li a i{
    color: #00274E;
    font-size: 35px;
}
#facebook{
    color: #1877f2;
}
#instagram{
    color: #ed0a56;
}
#linkedin{
    color: #2158bf;
}
#github{
    color: #24292e;
}
.social-icons ul li a i:hover{
    transform: scale(1.4);
    
}
.title-connect{
    display: flex;
    align-items: center;
}
.about-me button{
    padding: 10px 15px;
    border: none;
    background-color: #55C4A1;
    border-radius: 5px;
}
.about-me button a{
    text-decoration: none;
    color: black;
    font-size: 18px;
}
.about-me button:hover{
    transform: scale(1.03);
}

/* portfolio section */
.portfolio{
    padding-top: 90px;
}
.portfolio div.projects{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    padding: 10px 150px;
    width: 100%;
    gap: 10%;
    height: 100%;
}
.projects{
    line-height: 24px;
}
.projects .portfolio-title{
    font-size: 40px;
    font-weight: 700;
    color: #00274E;
    padding: 30px 0px;
}
.projects .portfolio-subtitle{
    text-align: center;
    color: #000000;
    padding: 20px 0px;
}
.projects .portfolio-subtitle p{
    font-size: 18px;
}
div.portfolio-cards{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    align-items: center;
    justify-content: center;
    padding: 10px 0px;
    width: 100%;
}
div.portfolio-cards .card{
    border: 2px solid #55C4A1;
    background-color: #00274E;
    color: white;
    margin: 10px 0px;
    border-radius: 10px;
    width: 200px;
}
.card .card-details{
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.card-details h4, .card-details a{
    padding: 7px 0px;
}
.card-details small{
    font-size: 10px;
}
div.portfolio-cards .card:hover{
    background-color: #55C4A1;
    color:#00274E;
    cursor: pointer;
    transform: scale(1.03);
}
div.portfolio-cards .card a{
    text-decoration: none;
    color: #edf3f1;
}
div.portfolio-cards .card a:hover{
    color: #00274E;
    font-weight: 700;
}
div.portfolio-cards .card .card-image{
    width: 100%;
    height: 300px;
    border-radius: 10px;
    background-size: cover;
}
div.portfolio-cards .card .card-image.card-1{
    background-image: url('images/Rectangle\ 80.svg');
    width: 100%;
}
div.portfolio-cards .card .card-image.card-3{
    background-image: url('images/Rectangle\ 80\ \(1\).svg');
    width: 100%;
}
div.portfolio-cards .card .card-image.card-4{
    background-image: url('images/food.png');
    width: 100%;
}
.portfolio-view-btn{
    padding: 20px 30px;
    margin: 30px 0px;
    border: none;
    border-radius: 11px;
    margin-top: 50px;
    background-color: #90dac3;
}
.portfolio-view-btn:hover{
    background-color: #55C4A1;
    cursor: pointer;
    transform: scale(1.03);
}

.portfolio-view-btn a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: 600;
}

/*blog page*/

.blog-page{
    padding: 70px 0px;
}
.blog-page h3{
    text-align: center;
    padding: 38px 0px;
    color:#00274E;
    font-size: 40px;
}
.blog-page .pagination{
    text-align: center;
    padding: 38px 0px;
    font-size: 20px;
}
.pagination button{
    border: none;
    background-color:#55C4A1;
    padding: 10px;
    border-radius: 12px;
}
.pagination button:hover{
    transform: scale(1.03);
    cursor: pointer;
}
.pagination a{
    text-decoration: none;
    padding: 10px;
    color:#00274E;
    font-size: 18px;
    font-weight: 600;
}

.blog-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 20px;
    padding: 20px;
    justify-content: center; 
    align-items: center; 
    margin: 0 10%;
}

.blog-card {
    background-color: #00274E;
    text-decoration: none;
    color: #333;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    transition: transform 0.3s ease;
}
.blog-card:hover {
    transform: scale(1.05);
}
img {
    width: 100%;
    border-radius: 8px;
}

.blog-card h4 {
    margin: 10px 0;
    color: white;
}

.blog-card p{
    padding: 10px 0px;
    color: white;
    font-size: 14px;
    font-weight: 100;
}
.blog-card div.date-like-comments{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.date-like-comments .like, .date-like-comments .comments{
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: space-around;
}
.date-like-comments i{
    color: #55C4A1;
    font-size: 20px;
}

/* services */

.services{
    display: flex;
    flex-direction: column;
    align-items: center;
}
div.work-together{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #00274E;
    color: white;
    text-align: center;
    padding: 50px 0px;
}
.work-together-title{
    font-size: 40px;
    font-weight: 700;
    padding: 20px 0px;
}
.work-together-subtitle{
    font-size: 16px;
    padding: 15px 0px;
    margin-top: 10px;
}
.work-together-btn{
    padding: 10px 15px;
    background-color: #55C4A1;
    border: none;
    border-radius: 4px;
}
.work-together-btn:hover{
    transform: scale(1.03);
    cursor: pointer;
}
.work-together-btn a{
    text-decoration: none;
    color: black;
    font-size: 20px;
}
.work-details{
    padding: 100px 0px;
    width: 80%;
    margin: 0px 50px;
    gap: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.work-details .what-i-do{
    flex: 1;
    margin: 20px;
    padding: 20px;
}
.what-i-do h3{
    padding: 20px 0px;
    color:#00274E;
}
.what-i-do p{
    padding: 20px 0px;
    font-size: 15px;
}
.what-i-do button{
    padding: 10px 15px;
    background-color: #55C4A1;
    border: none;
    border-radius: 4px;
}
.what-i-do button a{
    text-decoration: none;
    color:#00274E;
    font-size: 18px;
}
.what-i-do button:hover{
    transition: scale(1.03);
}
.work-details .my-skills{
    flex-direction: column;
    align-items: center;
    flex: 1;
}
.skill h3{
    color: #00274E;
    padding: 10px 0px;
}
.skill p{
    font-size: 13px;
    padding: 7px 0px;
}
.my-skills .skill{
    margin: 10px;
    padding: 20px;
    background-color: white;
    box-shadow: 5px 5px 3px #bec5cb;
    border-radius: 10px;
}
.my-skills .skill:hover{
    border-left: 5px solid #55C4A1;

}


/* contact section */
.contact{
    padding: 100px;
    display: flex;
    flex-wrap: wrap;
    gap: 30%;
    justify-content: space-around;
    align-items: center;
    background-color: #e0e4e8;
}

.my-adress{
    flex: 1;
    border: 2px solid #00274E;
    border-radius: 20px;
    padding: 20px;
}
.my-adress h3{
    text-align: center;
}
.my-infos div{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border: 1px solid #00274E;
    margin: 10px;
    border-radius: 10px;
}
.my-infos div p{
    font-size: 13px;
}
.my-infos div:hover{
    background-color: #00274e6c;
    color: white;
}
#location{
    color:#55C4A1;
}
#phone{
    color:#55C4A1;
}
#email{
    color:#55C4A1;
}
.contact .feedback{
    flex: 2;
    width: 60%;
    text-align: center;
    background-color: #00274E;
    border-radius: 10px;
    padding: 15px;
    margin: 20px 0px;
}
.contact .feedback h3{
    color:#eef0f3;
    padding: 40px 0px;
}
.contact .feedback label{
    color: white;
}
.contact .feedback input, textarea{
    width: 100%;
    padding: 10px;
    margin: 10px 0px;
    border-radius: 10px;
}

form input[type="text"],
input[type="email"],
textarea {
  color: black;
}
.feedback button{
    background-color: #55C4A1;
    border: none;
    width: 100%;
    padding: 10px;
    margin: 10px 0px;
    border-radius: 10px;
}
.feedback button:hover{
    cursor: pointer;
    transform: scale(1.03);
}
.feedback button a{
    text-decoration: none;
    color: #00274E;
    font-size: 18px;
}

/*error for contact form*/
.contact-error{
    padding: 10px;
    color: red;
}

/* footer */
footer .copyright{
    color: #e0e4e8;
    font-size: 13px;
}
footer{
    width: 100%;
    background-color: #00274E;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px 0px;
}
.footer-container{
    display: flex;
    align-items: center;
    gap: 30px;
    justify-content: space-between;
}
footer .footer-logo{
    display: flex;
    align-items: center;
}
.footer-logo .logo-letter{
    color: #fafbfb;
    padding: 10px;
    margin: 0px 10px;
}
.logo-letter a, .logo-text a{
    text-decoration: none;
    color: #fafbfb;
}
/* .footer-menu{
    padding: 0px, 70px;
} */
.footer-menu ul{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}
.footer-menu ul li{
    list-style-type: none;
    align-items: center;
    justify-content: center;
}
.footer-menu ul li a{
    text-decoration: none;
    color: #fafbfb;
    font-size: 14px;
}
.footer-menu ul li a:hover{
    color: #55C4A1;
}
footer .footer-signin a{
    text-decoration: none;
    color: white;
    font-size: 16px;
}
footer .footer-signin a:hover{
    color: #55C4A1;
}

 /* media queries */
 @media screen and (max-width: 767px) {
    body{
        width: 100%;
        overflow-x: hidden !important;
    }
    header{
        width: 100%;
        overflow-x: hidden !important;
    }
    .menu ul {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 70px;
        left: 0;
        /* width: 150px; */
        width: 50%;
        background-color: #00274E;
        border-radius: 15px;
    }

    .menu.show ul {
        display: flex;
    }

    .menu li {
        margin: 0;
        text-align: center;
        padding: 10px;
        border-bottom: 1px solid #ccc;
    }

    .hamburger-icon {
        display: block;
    }

    .exit-icon {
        display: block; 
    }

    .menu.show .signin {
        display: block; 
    }

    /* hero */
    .hero{
        margin: 50px;
    }
    .hero div.home{
        padding: 10px 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .text-button{
        width: 100%;
        padding: 50px;
    }
    .profile-img{
        width: 100%;
        /* margin: 50px; */
        padding: 50px;
    }

    /* about */
    .about-cards{
        grid-template-columns: 1fr;
        grid-column-gap: 30px;
        width: 90%
    }
    .blog-cards {
        grid-template-columns: 1fr;
    }
    .about-card-2 .certifications{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: minmax(100px, auto);
        padding: 10px;
        grid-gap: 20px;
        justify-content: center;
    }
    .about-card-2{
        grid-column: 1/2;
    }
    /* portfolio */
    .portfolio div.projects{
        padding: 50px;
        display: block;
        align-items: center;
        text-align: center;
        justify-content: center;
        width: 100%;
        gap: 10%;
        height: 100%;
    }
    .projects .portfolio-title{
        font-size: 30px;
        font-weight: 700;
        color: #00274E;
    }
    .projects .portfolio-subtitle{
        text-align: center;
        color: #000000;
    }
    .projects .portfolio-subtitle p{
        font-size: 18px;
    }
    div.portfolio-cards{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
        justify-content: center;
        margin-right: 50px;
        width: 500px;
    }
    div.portfolio-cards .card{
        background-color: #00274E;
        color: white;
        align-items: center;
        justify-self: center;
        border-radius: 10px;
        width: 90%;
    }

    /* contact us*/

    .my-adress {
        max-width: 100%; 
        border-radius: 0; 
    }

    .my-adress form div {
        width: 300px;
        padding: 10px;
        flex-direction: column; 
    }

    .my-adress form div p {
        flex: none; 
        width: 100%; 
        font-size: 12px; 
    }
    
    /* footer */
    footer{
        width: 100%;
        background-color: #00274E;
        display: block;
        justify-content: space-evenly;
        align-items: center;
        padding: 20px 0px;
    }
    .footer-container{
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        gap: 10px;

    }
    footer .footer-logo{
        display: flex;
        align-items: center;
    }
    .footer-logo .logo-letter{
        color: #fafbfb;
    }
    .logo-letter a, .logo-text a{
        text-decoration: none;
        color: #fafbfb;
    }
    .footer-menu ul{
        display: block;
        align-items: center
    }
    
    .footer-menu ul li{
        padding: 5px 0px;
        list-style-type: none;
        align-items: center;
        justify-content: center;
    }
    .footer-menu ul li a{
        text-decoration: none;
        color: #fafbfb;
        font-size: 14px;
    }
    .footer-menu ul li a:hover{
        color: #55C4A1;
    }
    footer .footer-signin a{
        text-decoration: none;
        color: white;
        font-size: 16px;
    }
    footer .footer-signin a:hover{
        color: #55C4A1;
    }
    footer .copyright{
        color: #e0e4e8;
        font-size: 13px;
        text-align: center;
        padding: 10px 0px;
    }
    
}
@media  screen and (min-width: 768px) and (max-width: 1023px) {
    /* Styles for screens between 768 and 1023 pixels wide (typically tablets) */
  }
  @media  screen and (min-width: 1024px) {
    /* Styles for screens 1024 pixels wide and above (typically desktops) */
  }
    